bson
feedparser
flask
flask-restful
passlib
pika
pymongo
sqlalchemy

# Possibly just a dev requirement; not clear yet
rabbitmq-admin

# systemtools (below) has an unstated dependency on this package
Unidecode

# Might remove some of these later
-e git+https://github.com/hayj/DatabaseTools.git#egg=databasetools
# Not used explicitly in this module, but is an (undocumented) dependency
# of databasetools
-e git+https://github.com/hayj/DataStructureTools.git#egg=datastructuretools
-e git+https://github.com/hayj/SystemTools.git#egg=systemtools

# Dev requirements
-e .
